.message
  .message__upper{"data-message-id": "#{message.id}"}
    .message__upper__name
      = message.user.name
    .message__upper__date
      = message.created_at
    .message__lowwer
      = message.content if message.content.present?
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
